.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    text-align: center;
    font-family: 'Spartan';
    font-size: 15px;
}

h1 {
    font-weight: 700;
    color: hsl(300, 43%, 22%);
    line-height: 1em;
    letter-spacing: 0px;
    margin: 80px 25px 15px;
}

p {
    color: hsl(303, 10%, 53%);
    font-weight: 500;
    margin: 10px;
}